*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

#recherche{
    display:flex;
    justify-content: space-between;
    background-color: #38b6ff;
    height: 100px;
    align-items: center;
}

.lieux{
    background-color: #ff914d;
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}

#lieux{
    color:#38b6ff;
    text-decoration: none;
}

#insolite{
color: #ff914d;
font-weight: bold;
font-size: 60px;
font-family: Patrick Hand;
}

#decouvrir{
    color: #ff914d;
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
    font-family: Patrick Hand;
}

#contenant{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width:60%;
}

#bandeau {
    width:100%;
    height: 300px;
}



#logo{
    margin-bottom: 50px;
    width: 150px;
    height: 150px;
}

a:link{
    color: #38b6ff;
    text-decoration: none;
    font-size: 25px;
}




footer{
    background-color: #ff914d;
    padding-top: 50px;
    padding-bottom: 50px;
    display:flex;
    justify-content: space-around;
    text-decoration: none;
}

.liens_footer{
    color:#38b6ff;
    text-decoration: none;
}



#articles {
    background-color: #38b6ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
h2 {
    color:#ff914d;
}
.contenu {
    display:flex;
    justify-content: space-between;
    margin-right:120px;
    margin-left:120px;
}
.illustration{
    width: 350px;
    height:350px;
}
.description{
    margin-right:20px;
}
h3{
    color :#ff914d;
}
