*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.table{
    background-color:#38b6ff;
}
th{
    color: #ff914d;
}
.test{
    background-color: #38b6ff;
    color: #ff914d;
    text-align: center;
    margin-bottom: 0rem;
}
