{% extends 'base.html.twig' %}

{% block title %}Hello CatalogCategorieController!{% endblock %}

{% block body %}
<a href="/catalog/categorie/1">Bars</a>
<a href="/catalog/categorie/2">Bâtiments</a>
<a href="/catalog/categorie/3">Boutiques</a>
<a href="/catalog/categorie/4">Eglises</a>
<a href="/catalog/categorie/5">Murs</a>
<a href="/catalog/categorie/6">Musées</a>
<a href="/catalog/categorie/7">Passages</a>
{% endblock %}
