{% extends 'base.html.twig' %}

{% block title %}Modifier l'utilisateur{% endblock %}

{% block body %}
    <h1>Modifier l'utilisateur</h1>

    {{ include('utilisateur_profile/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('utilisateur_profile_index') }}">retour à la liste</a>

    {{ include('utilisateur_profile/_delete_form.html.twig') }}
{% endblock %}
