{% extends 'base.html.twig' %}

{% block title %}New Commentaire{% endblock %}

{% block body %}
    <h1>Create new Commentaire</h1>

    {{ include('user_commentaire/_form.html.twig') }}

    <a href="{{ path('user_commentaire_index') }}">back to list</a>
{% endblock %}
