{% extends 'base.html.twig' %}

{% block title %}New Lieu{% endblock %}

{% block body %}
    <h1>Créer un nouveau Lieu</h1>

    {{ include('admin_lieu/_form.html.twig') }}

    <a href="{{ path('admin_lieu_index') }}">retour à la liste</a>
{% endblock %}
